:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, .75);
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, .05);
}

a {
  text-decoration: none;
  background-color: transparent;
}

.text-gray-dark {
  color: #24292e;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0rem;
  font-weight: lighter;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}

ul img {
  padding-top: 0;
  padding-right: .5em;
}

.home {}

.octodex {
  font-weight: 600;
  color: #24292e;
}

.faq {
  padding-left: 1rem;
  padding-right: 0rem;
}

main {
  justify-content: center;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.home {
  padding-left: 1rem;
  padding-right: 0rem;
}

.images ul {
  list-style: none;
  padding: 0rem;
  margin: 0rem;
}

.images li {
  padding-bottom: 1rem;
  margin: 1rem;
}

.number {
  margin-left: 1rem;
  margin-right: .5rem;
  color: #586069;
  font-weight: 400;
}

li section {
  display: flex;
  justify-content: left;
  text-align: left;
  font-weight: 600;
}

.minipic img {
  width: auto;
  height: 2rem;
  margin-left: 10rem;
  margin-right: 1rem;
  margin-top: 0;
  border-radius: 10%;
  justify-content: right;
  padding-right: 0;
  margin-right: 0;
}

.big {
  max-width: 100%;
  height: auto;
  border-radius: 1.5rem;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #E1E4E8;
}

@media (min-width: 1000px) {
  .images ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .images li {
    flex-basis: 20%;
  }
}